@import 'src/assets/styles/palette';
@import 'src/assets/styles/mixins';

.main_container {
  max-width: $widthDesktop;
  margin: 0 auto;
}

.main_content {
  display: flex;
  gap: 32px;
  @include tablet {
    flex-direction: column-reverse;
  }
}

.first_container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.first_container_btn {
  border-radius: 50%;
  width: 200px;
  height: 200px;
}

.first_container_img {
  border-radius: 50%;
  width: 320px;
  height: 320px;
  @include tablet {
    width: 140px;
    height: 140px;

  }

}

.second_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.second_content {
  width: 50%;
  @include desktop_small {
    width: 75%;
  }
  @include tablet {
    width: 100%;
  }
}

.second_container_title {
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
  text-align: left;
  color: $gold;
  margin-bottom: 40px;
  @include tablet {
    font-size: 18px;
    line-height: 27px;
    margin-bottom: 24px;
  }
  @include mobile {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 16px;
  }
}
.second_container_subtitle {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
}
