@import 'src/assets/styles/palette';
@import 'src/assets/styles/mixins';

.main_container {
  padding: 150px 80px 0;
  max-width: $widthDesktop;
  margin: 0 auto;
  @include tablet {
    padding: 60px 24px 0;
  }
  @include mobile {
    padding: 56px 16px 0;
  }
}

.main_content {
  display: flex;
  align-items: flex-end;
  min-height: 220px;
  padding: 0 24px;
  max-width: $widthDesktop;
  margin: 0 auto;
  position: relative;
}

.main_title {
  white-space: nowrap;
  font-family: Playfair Display, serif;
  font-size: clamp(32px, 5vw, 64px);
  line-height: clamp(36px, 5vw, 70px);
  font-weight: 400;
  text-align: left;
  @include mobile {
    white-space: initial;
  }
}

.main_subtitle {
  white-space: nowrap;
  font-size: 94px;
  line-height: 70px;
  font-weight: 400;
  text-align: center;
  width: 100%;
  @include laptop {
    font-size: 84px;
  }
  @include tablet {
    font-size: 74px;
  }
  @include mobile {
    font-size: 54px;
  }
}
