@import 'src/assets/styles/palette';
@import 'src/assets/styles/mixins';

.main_container {
  background-image: url(../../../assets/images/main_img.png);
  background-repeat: round;
  @include desktop {
    background-repeat: no-repeat;
  }
  @include tablet {
    background-repeat: round;
  }
  @include mobile {
    background-repeat: no-repeat;
  }
}

.main_content {
  display: flex;
  align-items: flex-end;
  min-height: 720px;
  padding: 0 24px;
  max-width: $widthDesktop;
  margin: 0 auto;
  position: relative;
  @include tablet {
    min-height: clamp(384px, 10vw, 720px);
  }
}

.main_title {
  white-space: nowrap;
  margin-bottom: -40px;
}

.main_subtitle {
  font-family: MADE TheArtist Script, serif;
  font-size: clamp(40px, 10vw, 140px);
  font-weight: 400;
  line-height: 140px;
  text-align: left;
  text-transform: none;
  position: absolute;
  top: calc(100% - 10px);
  left: 50%;
}
