@import 'src/assets/styles/palette';
@import 'src/assets/styles/mixins';

.allam_container {
  width: 100%;
  background-image: url(../../../assets/images/shales/shaleHome.png);
  background-position-y: bottom;
  background-size: cover;
}

.allam_content {
  max-width: $widthDesktop;
  margin: 0 auto;
  padding: 200px 80px;
  @include laptop {
    padding: 140px 24px;
  }
  @include mobile {
    padding: 120px 16px;
  }
}

.allam_title {
  font-family: Playfair Display, serif;
  font-size: 80px;
  line-height: 80px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 8px;
  @include laptop {
    font-size: 48px;
    line-height: 52px;
  }
  @include tablet {
    font-size: 32px;
    line-height: 36px;
  }
}

.allam_subtitle {
  font-family: Playfair Display, serif;
  font-size: 80px;
  line-height: 80px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  color: $gold;
  margin-bottom: 80px;
  @include laptop {
    margin-bottom: 48px;
    font-size: 48px;
    line-height: 52px;
  }
  @include tablet {
    margin-bottom: 32px;
    font-size: 32px;
    line-height: 36px;
  }
}

.allam_items {
  display: flex;
  gap: 40px;
  @include laptop {
    gap: 20px;
  }
  @include tablet {
    flex-direction: column;
  }
}

.allam_item {
  width: 100%;
  padding: 24px;
  background-color: $base1;
  border-radius: 8px;
}

.allam_item_icon {
  width: 40px;
  height: 40px;
  margin-bottom: 20px;
}

.allam_item_text {
  margin-left: 20px;
  list-style: disc;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  margin-bottom: 12px;

}
