@import 'src/assets/styles/palette';
@import 'src/assets/styles/mixins';

.main_container {
  padding: 100px 80px 120px;
  @include tablet {
    padding: 100px 24px 140px;
  }
  @include mobile {
    padding: 86px 16px 32px;
  }
}

.sub_content {
  @include desktop_small {
    width: 100%;
  }
}

.info_content_numb {
  font-family: Playfair Display, serif;
  font-size: 48px;
  font-weight: 400;
  line-height: 52px;
  text-align: left;
  color: $gold;
  @include laptop {
    font-size: 60px;
    line-height: 60px;
  }
}
