:root {
  --color-white: #ffffff;
  --color-black: #03050A;
}

$base0: #080808;
$base1: #1A1919;
$gray: #9D9D9C;
$gold: #D8D09E;
$base2: #F9F4EE;
$white: #FFFFFF;
$bgBlur: rgb(0 0 0 / 50%);


$widthDesktop: 1440px;
$widthTablet: 768px;
$widthMobile: 576px;

